
{% extends "base.html" %}

{% block script %}
<script src="https://kit.fontawesome.com/642123ab45.js" crossorigin="anonymous"></script>
{% endblock script %}

{% block title %}
    Todo Manager
{% endblock title %} 
{% block content %}
        <div class="flex items-center justify-between">
            <span class="text-4xl font-bold">
                Hi {{request.user}}
            </span>
            <a href="user/logout" class="text-red-500">
                Log out
            </a>
        </div>
        <div class="text-gray-400 my-3">
            {{completed_tasks}} of {{total_tasks}} tasks completed
        </div>
        <div class="mb-3">
            <a class="py-1 px-6 rounded-2xl inline-block {% if request.GET.type != 'completed' and request.GET.type != 'pending' %} text-red-400 bg-red-100 {% endif %}" href="?type=all">
                All
            </a>
            <a class="py-1 px-6 rounded-2xl inline-block m-1 {% if request.GET.type == 'pending' %} text-red-400 bg-red-100 {% endif %}"href="?type=pending">
                Pending
            </a>
            <a class="py-1 px-6 rounded-2xl inline-block m-1 {% if request.GET.type == 'completed' %} text-red-400 bg-red-100 {% endif %}" href="?type=completed">
                Completed
            </a>
        </div>
        {% for task in tasks %}
            <div class="bg-slate-100 rounded-lg p-3 flex justify-between items-center mb-5 task-complete-{{task.completed}}">
                <div class="flex">
                    <div class="ml-2">
                        <a class="font-bold {% if task.completed == True %} line-through text-red-400 {% endif %}">
                            {{task.title}}  <span class="text-gray-400">&middot; {{task.priority}}</span>
                        </a>
                        <br>
                        <span class="text-gray-500 text-sm">
                            {{task.created_date | date:"D d M"}}
                        </span>
                    </div>
                </div>
                <div>
                    <a href="/update-task/{{task.id}}" class="bg-green-600 hover:bg-green-500 m-0.5 text-white rounded-lg inline-flex items-center justify-center w-[38px] h-[38px]" title="Edit">
                    <i class="fa-solid fa-pen"></i>
                    </a>
                    <a href="/delete-task/{{task.id}}" class="bg-red-600 hover:bg-red-500 m-0.5 text-white rounded-lg inline-flex items-center justify-center w-[38px] h-[38px]" title="Delete">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
        <a href="create-task" class="bg-red-500 block hover:bg-red-600 text-white rounded-xl p-3 w-full mt-10 text-center">
            Add Task
        </a>
{% endblock content %}